<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    
    <!-- main header -->
     <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="Profile.png" alt="sambit" class="img-fluid" title="sambit">
                        </figure>
                      </div>
                     <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span class="text_clr">MERN Stack Developer</span></h1>
                        <a href="https://www.linkedin.com/in/sambit-kumar-sahoo-573892247/" target="_sambit"><button>About me</button></a>
                     </div>
                      <!-- right side div -->
                      
                </div>
            </div>
        </div>
     </div>
     <!-- footer code -->
      {{>footer}}
</body>
</html>