<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
    </style>
</head>
<body>
    {{>navbar}}
    
    <!-- main header -->
     <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Monday</p>
                        <p id="today_date">23 SEPT</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here ↓</p>
                        <div class="middle_layer data_hide"></div>
                        <p id="temp"><span id="temp_real_val">0</span><sup>°</sup>C</p>
                        <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <!-- footer code -->
      {{>footer}}
      <script src="main.js"></script>
      <script>
        const getCurrentDayAndDate = () => {
            // Get current day of the week
            let weekday = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
            let currentTime = new Date();
            let day = weekday[currentTime.getDay()];

            // Get current date
            let date = currentTime.getDate();
            
            // Get current month (short form)
            let month = currentTime.toLocaleString('default', { month: 'short' }).toUpperCase();
            
            // Update day of the week
            let dayElement = document.getElementById("day");
            dayElement.innerText = day;

            // Update date and month
            let dateElement = document.getElementById("today_date");
            dateElement.innerText = `${date} ${month}`;
        };

        getCurrentDayAndDate();
      </script>

</body>
</html>
